extends /layouts/application.pug

block content
  .d-flex.flex-column
    h1.text-center Bootstrap starter template
    p.lead.text-center
      | Use this document as a way to quickly start any new project.
      br
      . 
        All you get is this text and a mostly barebones HTML document.
