extends /layouts/application.pug

block content
  h3 Edit task
  +formFor(f, { url: urlFor('updateTask', { id: f.object.id }), method: 'patch' })
    +input(f, 'name')
    +input(f, 'description')
    +button(f)
