extends /layouts/application.pug

block content
  h3 Edit task
  +formFor(f, { url: urlFor('updateTask', { id: f.object.id }), method: 'patch' })
    +input(f, 'name')
    +input(f, 'description')
    +select(f, 'status', { name: 'statusId', items: statuses, selected: f.object.Status && f.object.Status.id })
    +button(f)
