extends /layouts/application.pug

block content
  h3 Add task
  +formFor(f, { url: urlFor('tasks'), method: 'post' })
    +input(f, 'name')
    +input(f, 'description')
    +select(f, 'status', { name: 'statusId', items: statuses, itemTitle: 'name' })
    +select(f, 'assigned to', { name: 'assignedId', items: users, itemTitle: 'fullName', selected: userId })
    +button(f)
