extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('session'), method: 'post' })
    +input(f, 'email', { autofocus: true })
    +input(f, 'password', { as: 'password' })
    +button(f)
