extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('updateUser', { id: f.object.id }), method: 'patch' })
    +input(f, 'email')
    +input(f, 'firstName')
    +input(f, 'lastName')
    +input(f, 'password', { as: 'password' })
    +button(f)
